[contenteditable=true]:empty:before{
  content: attr(placeholder);
  pointer-events: none;
  display: block;
  opacity: 0.33;
}
#notepad-wrapper {
  width: 100%;
  height: 100%;
}
#notepad-wrapper > div {
  outline: none;
  width:calc(100% - 6px); /* 100% width - padding left */
  padding-left: 6px;
}
.notepad-content {
  height:100%;
  font-size: 1.5em;
}
.notepad-title {
  font-size: 2em;
}