:root {
  --card-background-color: white;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.utility-card {
  z-index: 3;
  border: 3px solid black;
  overflow: hidden;
  resize: both;
  min-width: 200px;
  min-height: 190px;
  max-width: 400px;
  max-height: 400px;
  display: inline-block;
  position: absolute;
  background: var(--card-background-color);
}
.utility-content {
  height: calc(100% - 20px); /* 100% height card - 20px top bar height*/
  width: 100%;
  z-index: 2;
}
#utility-nav {
  margin: 0.5%;
  border: 5px black solid;

  /* 100% screen width*/
  /* - margin for left & right side = 99% */
  /* - border width for left & right side = 99% - 10px */
  width:calc(99% - 10px);
  height: 5%;

  border-radius: 12px;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
}
#utility-nav > button {
  flex:auto;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-block;
}
.top-bar {
  z-index: 3;
  height: 20px;
  width: 100%;
  border-bottom: black 2px solid;
  position: relative;
}
.card-drag-bar, .card-close {
  display: inline-block;
  user-select: none;
  height: 100%;
  position: absolute;
  line-height: 20px;
}
.card-drag-bar {
  left:0;
  cursor: grab;
  width: 100%;
  padding-left: 3px;
}
.card-close {
  aspect-ratio: 1/1;
  right:0;
  text-align: center;
  cursor: pointer;
}