:root {
  --card-background-color: white;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.utility-card {
  z-index: 0;
  border: 3px solid black;
  overflow: hidden;
  resize: both;
  min-width: 200px;
  min-height: 150px;
  max-width: 400px;
  max-height: 400px;
  display: inline-block;
  position: absolute;
  background: var(--card-background-color);
}
.utility-content {
  height: calc(100% - 20px); /* 100% height card - 20px top bar height*/
  width: 100%;
}
.top-bar {
  height: 20px;
  width: 100%;
  border-bottom: black 2px solid;
  position: relative;
}
.card-drag-bar, .card-close {
  display: inline-block;
  user-select: none;
  height: 100%;
  position: absolute;
  line-height: 20px;
}
.card-drag-bar {
  left:0;
  cursor: grab;
  width: 100%;
  padding-left: 3px;
}
.card-close {
  aspect-ratio: 1/1;
  right:0;
  text-align: center;
  cursor: pointer;
}